:root{/*Para definir custom properties*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ff9d00;
    --secundario: #8e5903;
    --gris: #757575;
    --grisClaro: #f3eadf;
}

/*Estas lineas ayudan a tener un mejor uso de los rem*/

html{
    font-size: 62.5%;
    box-sizing: border-box; /*Para mejor manejo del box model de css*/
    scroll-snap-type: y mandatory;
}

*,*:before,*:after{ /*Para mejor manejo del box model de css*/
    box-sizing: inherit;
}

body{
    font-size: 16px;/*Ahora 1rem = 10px*/
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%); /*Cssmatic para hacer degradados y copiar el codigo*/
}
/*---------------------------------------------------*/

/*      Globales        */
.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto /*Manecillas de reloj, empieza a las 12*/

}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}

.boton:hover{
    cursor: pointer; /*Para que se vea el cursor de la manita*/
}

.sombra{
    /*-webkit-box-shadow: 0px 7px 16px 1px rgba(84,82,84,0.6);
    -moz-box-shadow: 0px 7px 16px 1px rgba(84,82,84,0.6); 
    Estos prefijos son para soporte en navegadores, pero 95% los soportan, esto lo vemos en la página "can I use.com"*/
    box-shadow: 0px 7px 16px 1px rgba(84,82,84,0.6);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/*      Tipografias     */
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    text-align: center;
}

.titulo{
    font-size: 3.8rem;
}

/*Para encontrar buenos tipos de fuente, usamos google fonts*/
.titulo span{
    font-size: 2rem;
}

/*      Utilidades    */
.w-sm-100{
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

/*      Navegacion principal    */
.nav-bg{
    background-color: #6a4100;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    /*flex-direction: row; es el default, perso se puede poner como column*/
    align-items: center; /*Funciona como el justify-content, pero para columnas*/
}

@media (min-width: 768px) { /*768px es desde una tablet o mas grande*/
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between; /*Esta propiedad se obtiene al dar display flexbox al padre de lo que deseamos acomodar*/
    }
}

.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/*      Hero        */
.hero{
    background-image: url(../img/Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 410px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65); /*sintaxis anterior*/
    background-color: rgb(0 0 0 /70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco)
}

/*      Scroll snap     */
.servicios,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/*      Servicios       */
@media (min-width: 768px) { /*if tamaño >= 768*/
    .servicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /*Definimos el ancho de cada columna
        Usamos fr para dividir en fracciones, un entero en 3 fracciones*/
        grid-template-rows: 200; /*Definimos el alto de cada fila*/
        column-gap: 1rem; /*Separacion entre columnas*/
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: 400;
}

.servicio p{
    line-height: 2;
    text-align: center;
}


.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*      Contacto        */

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /*Min utiliza el valor mas pequeño*/
    margin: 0 auto; /*Centrar horizontalmente sin usar display flex*/
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4){ /*De los hijos de campo, selecciona el elemento numero:...*/
        grid-column: 1 / 3; /*el form va de la columna 1 a la 3*/
    }
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.campo textarea{
    height: 20rem;
}

/*      footer      */
.footer{
    text-align: center;
}

/*Practicar flex: https://flexboxfroggy.com/#es*/